body{  
    margin: 0;  
    padding: 50px 0 50px 0;  
}  
* html body{  
    overflow: hidden;  
}   
div#headerArea {  
    position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 50px;  
    background-color: #4E9ABE;  
    color: #fff;
}

p.header {
	height: 50px;
	line-height: 50px;
}	

div#footerArea {  
    position: fixed !important;  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    height: 50px;  
    background-color: #4E9ABE;  
    color: #fff;  
}  
* html div#contentsArea{  
    height: 100%;  
    overflow: auto;  
}  

.err {
	width: 100%;
	background-color: pink;
}


body {
	background-color: #EEEEEE;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	border-spacing: 0;
	background-color: #FFFFFF;
	empty-cells: show;
	border: none;
}

input.hankaku {
	width: 100%;
	ime-mode: disabled;
}

input.zenkaku {
	width: 100%;
	ime-mode: active;
}

input {
	font-weight: bold;
	font-size: 15px;
	width: 150px;
}

input.text {
	font-weight: bold;
	font-size: 15px;
	width: 100%;
}

input.button {
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	height: 100%;
	color: black;
}
	
input.smallButton {
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	height: 100%;
	color: red;
}

input.checkbox {
	font-weight: bold;
	height: 20px;
	font-size: 15px;
	width: 20px;
}

label, input[type='checkbox'] {
    cursor: pointer;
}

select {
	font-weight: bold;
	width: 100%;
	font-size: 15px;
}

select.page {
	font-weight: bold;
	width: 75px;
	font-size: 15px;
}

th {
	border: 1px solid #000000;
	color: #330000;
	background-color: #00bfff;
	padding: 0.3em 1em;
	text-align: center;
	font-size: 12px;
	width: 150px;
}

th.small {
	border: 1px solid #000000;
	color: #330000;
	background-color: #00bfff;
	padding: 0.3em 1em;
	text-align: center;
	font-size: 12px;
	width: 75px;
}

th.verrySmall {
	border: 1px solid #000000;
	color: #330000;
	background-color: #00bfff;
	padding: 0.3em 1em;
	text-align: center;
	font-size: 12px;
	width: 50px;
}

th.ultraSmall {
	border: 1px solid #000000;
	color: #330000;
	background-color: #00bfff;
	padding: 0.3em 1em;
	text-align: center;
	font-size: 12px;
	width: 25px;
}

th.smallSpace {
	border: 1px solid #EEEEEE;
	background-color: #EEEEEE;
	font-size: 15px;
	width: 75px;
}

th.cond {
	border: 1px solid;
	color: red;
	background-color: yellow;
	padding: 0.3em 1em;
	text-align: center;
	font-size: 15px;
	width: 50px;
}

th.update {
	border: 1px solid #000000;
	color: #330000;
	background-color: khaki;
	padding: 0.3em 1em;
	text-align: center;
	font-size: 12px;
	width: 150px;
}

td {
	font-weight: bold;
	border: 1px solid #000000;
	text-align: center;
	font-size: 15px;
	height: 25px;
}

td.smallButton {
	border: 1px solid #EEEEEE;
	background-color: #EEEEEE;
	width: 75px;
}

td.none {
	border: 1px solid #EEEEEE;
	background-color: #EEEEEE;
	font-size: 15px;
}

td.noneLeft {
	border: 1px solid #EEEEEE;
	background-color: #EEEEEE;
	font-size: 15px;
	text-align: left;
}

td.long {
	font-weight: bold;
	border: 1px solid #000000;
	text-align: left;
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
}

td.cond {
	font-weight: bold;
	border: 1px solid #000000;
	text-align: center;
	font-size: 12px;
}

td.pc{
	font-weight: bold;
	border: 2px double black;
	background-color: yellow;
	text-align: center;
	font-size: 15px;
	width: 50px;
}

td.wifi {
	font-weight: bold;
	border: 2px double black;
	background-color: coral;
	text-align: center;
	font-size: 15px;
	width: 50px;
}

td.thincl {
	font-weight: bold;
	border: 2px double black;
	background-color: cyan;
	text-align: center;
	font-size: 15px;
	width: 50px;
}

td.doc {
	font-weight: bold;
	border: 2px double black;
	background-color: lightsteelblue;
	text-align: center;
	font-size: 15px;
	width: 50px;
}

td.other {
	font-weight: bold;
	border: 2px double black;
	background-color: wheat;
	text-align: center;
	font-size: 15px;
	width: 50px;
}